// Select
select.#{$prefix}form-control, .#{$prefix}dropdown-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: ellipsis;
  padding-right: 36px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23454D56' viewBox='0 0 448 512'%3E%3Cpath d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e%3c/svg%3e");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
}
.#{$prefix}dropdown-select[aria-expanded="true"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23454D56' viewBox='0 0 448 512'%3E%3Cpath d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'/%3e%3c/svg%3e");
}
.#{$prefix}dropdown-select > span {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
select.#{$prefix}form-control[multiple], select.#{$prefix}form-control[size] {
  height: auto;
  padding: 0;
  background: none;
  option {
    padding: 16px;
    color: $color-global-secondary-90;
    &:hover, &:checked, &:focus {
      color: $color-global-primary-000;
      background-color: $color-alias-interactive-primary-hover;
      background-image: linear-gradient($color-alias-interactive-primary-hover, $color-alias-interactive-primary-hover);
    }
  }
}
