@use '../variables' as *;
@use '../variables-addon' as *;

// Breadcrumb
.#{$prefix}breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0;
  margin: 16px 0;
  list-style: none;
  color: $color-alias-interactive-secondary-default;

  & li {
    & + li {
      padding-left: 8px;

      &:before {
        padding-right: 8px;
        color: $color-alias-interactive-primary-default;
        content: '/';
      }
    }

    &.active {
      color: $color-alias-interactive-secondary-default;
    }

    & .fas {
      margin-right: 8px;
      font-size: 12px;
    }

    & a {
      text-decoration: none !important;
      font-weight: 600;
      border-radius: 4px;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  & button {
    background: transparent;
    border: 0;
    padding: 0 2px;
    color: $color-alias-interactive-primary-default;
    font-weight: 600;

    &:hover {
      text-decoration: underline !important;
    }
  }

  &.#{$prefix}breadcrumb-dark {
    color: $color-alias-interactive-primary-000-default;

    & li {
      & + li:before {
        color: $color-alias-interactive-accent-default;
      }

      &.active {
        color: $color-alias-interactive-primary-000-default;
      }

      & a {
        color: $color-alias-interactive-accent-default;

        &:hover {
          color: $color-alias-interactive-accent-hover;
        }
      }
    }

    & button {
      color: $color-alias-interactive-accent-default;

      &:hover {
        color: $color-alias-interactive-accent-hover;
      }
    }
  }
}

[data-sirio-component='breadcrumb'][data-sirio-visible='truncate'] li:nth-child(n + 3):nth-last-child(n + 2) {
  display: none;
}

@media (min-width: 576px) {
  .#{$prefix}breadcrumb-dark a:focus-visible,
  .#{$prefix}breadcrumb-dark button:focus-visible {
    outline-color: $color-alias-interactive-accent-focus;
  }
}
