@use '../variables';
@use '../variables-addon';

// Breadcrumb
.#{variables-addon.$prefix}breadcrumb {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 0;
    margin: 16px 0;
    list-style: none;
    color: variables.$color-alias-interactive-secondary-default;

    & li {
        & + li {
            padding-left: 8px;
            &:before {
                padding-right: 8px;
                color: variables.$color-alias-interactive-primary-default;
                content: '/';
            }
        }
        &.active {
            color: variables.$color-alias-interactive-secondary-default;
        }
        & .fas {
            margin-right: 8px;
            font-size: 12px;
        }
        & a {
            text-decoration: none !important;
            font-weight: 600;
            border-radius: 4px;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    & button {
        background: transparent;
        border: 0;
        padding: 0 2px;
        color: variables.$color-alias-interactive-primary-default;
        font-weight: 600;
        &:hover {
            text-decoration: underline !important;
        }
    }
    &.#{variables-addon.$prefix}breadcrumb-dark {
        color: variables.$color-alias-interactive-primary-000-default;
        & li {
            & + li:before {
                color: variables.$color-alias-interactive-accent-default;
            }
            &.active {
                color: variables.$color-alias-interactive-primary-000-default;
            }
            & a {
                color: variables.$color-alias-interactive-accent-default;
                &:hover {
                    color: variables.$color-alias-interactive-accent-hover;
                }
            }
        }
        & button {
            color: variables.$color-alias-interactive-accent-default;
            &:hover {
                color: variables.$color-alias-interactive-accent-hover;
            }
        }
    }
}
[data-sirio-component='breadcrumb'][data-sirio-visible='truncate']
    li:nth-child(n + 3):nth-last-child(n + 2) {
    display: none;
}
@media (min-width: 576px) {
        .#{variables-addon.$prefix}breadcrumb-dark a:focus-visible,
        .#{variables-addon.$prefix}breadcrumb-dark button:focus-visible {
        outline-color: variables.$color-alias-interactive-accent-focus;
    }
}
