@use '../variables' as *;
@use '../variables-addon' as *;

// Dialog
.#{$prefix}dialog {
  background-color: $color-alias-overlay-90-dark-primary-120;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: auto;
  outline: 0;
  opacity: 1;
  animation: fadeIn 0.5s;

  & .#{$prefix}dialog-content {
    opacity: 1;
    animation: fadeInContent 1s;
  }

  &[hidden] {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.#{$prefix}dialog-wrapper {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  min-height: calc(100% - 16px);
  display: flex;
  align-items: center;
}

.#{$prefix}dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color-global-primary-000;
  background-clip: padding-box;
  outline: 0;
  border-radius: 16px;
  padding: 24px;
  box-shadow: $elevation-elevation-04;
  height: auto;
}

.#{$prefix}dialog-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 16px;

  & .#{$prefix}btn-close {
    padding: 12px 12px;
    margin: -16px 0 -16px auto;
    opacity: 1;
    font-size: 24px;
  }
}

.#{$prefix}dialog-title {
  color: #454d56;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 0;

  & .fas {
    font-size: 24px;
    display: block;
    color: $color-global-primary-100;
    margin-bottom: 16px;
  }
}

.#{$prefix}dialog-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 16px;

  & .#{$prefix}btn {
    width: 100%;
    margin: 0 0 16px;

    & + .#{$prefix}btn {
      margin-left: 16px;
    }
  }
}

.#{$prefix}dialog-scroll {
  height: calc(100% - 48px);

  & .#{$prefix}dialog-content {
    height: 100%;
  }

  & .#{$prefix}dialog-body {
    outline: 1px solid $color-specific-data-entry-border-color-default;
    outline-offset: 2px;
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 16px;
    height: 100%;
    margin: 0 3px;
  }
}

@media (min-width: 576px) {
  .#{$prefix}dialog-wrapper {
    max-width: 600px;
    margin: 24px auto;
    min-height: calc(100% - 48px);
  }
  .#{$prefix}dialog-sm {
    max-width: 300px;
  }
  .#{$prefix}dialog-lg {
    max-width: 800px;
  }
  .#{$prefix}dialog-xl {
    max-width: 1140px;
  }
  .#{$prefix}dialog-content {
    padding: 32px;
    margin: 0 24px;
  }
  .#{$prefix}dialog-header {
    padding: 0 0 32px;
  }
  .#{$prefix}dialog-title .fas {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .#{$prefix}dialog-footer {
    padding: 32px 0 0;
    flex-direction: row;
  }
  .#{$prefix}dialog-footer .#{$prefix}btn {
    width: auto;

    & + .#{$prefix}btn {
      margin-left: 24px;
    }
  }
}

// Dialog fullscreen
.#{$prefix}dialog-full {
  animation: none;

  & .#{$prefix}dialog-wrapper {
    margin: 0;
    height: 100%;
    max-width: 100%;

    & .#{$prefix}dialog-content {
      height: 100vh;
      border-radius: 0;
      animation: none;
      margin: 0;

      & .#{$prefix}dialog-body {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        flex: 1 1 auto;
      }
    }
  }
}
