@use '../variables';
@use '../variables-addon';

// Nav
.#{variables-addon.$prefix}nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  &[data-sirio-visible='false'] {
    display: none;
  }

  & .#{variables-addon.$prefix}nav-link {
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    background-color: transparent;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    text-decoration: none;
    font-weight: 400;
    color: variables.$color-alias-interactive-secondary-default;

    & .#{variables-addon.$prefix}tag {
      margin: 0 0 0 8px;
    }
  }

  &
  .#{variables-addon.$prefix}nav-item:last-child
  .#{variables-addon.$prefix}nav-link {
    margin-right: 0;
  }

  & .#{variables-addon.$prefix}nav-link:hover {
    color: variables.$color-alias-interactive-primary-hover !important;
    border-bottom-color: variables.$color-alias-interactive-primary-hover !important;
  }

  & .#{variables-addon.$prefix}nav-link.active,
  & .#{variables-addon.$prefix}nav-link[aria-expanded='true'],
  & .#{variables-addon.$prefix}nav-link[aria-expanded='true']:focus,
  & .#{variables-addon.$prefix}nav-link[aria-expanded='true']:hover {
    color: variables.$color-alias-interactive-primary-pressed !important;
    border-bottom-color: variables.$color-alias-interactive-primary-pressed !important;
  }
}

.#{variables-addon.$prefix}nav.#{variables-addon.$prefix}nav-dark
.#{variables-addon.$prefix}nav-link {
  color: #fff;

  &:hover,
  &.active,
  &:focus,
  &[aria-expanded='true'],
  &[aria-expanded='true']:focus,
  &[aria-expanded='true']:hover {
    color: #fff !important;
    border-bottom-color: #fff !important;
    outline-color: #fff;
  }
}

.#{variables-addon.$prefix}service-nav {
  background-color: variables.$color-global-dark-primary-110;
  color: #fff;

  .#{variables-addon.$prefix}dropdown
  > .#{variables-addon.$prefix}nav-link:after {
    display: inline-block;
    content: '\f078';
    font-family: 'Font Awesome 6 Free', serif;
    text-align: center;
    font-weight: 900;
    margin-left: 8px;
  }

  .#{variables-addon.$prefix}dropdown > .#{variables-addon.$prefix}nav-link {
    padding: 8px;
  }

  .#{variables-addon.$prefix}dropdown
  > .#{variables-addon.$prefix}nav-link[aria-expanded='true']:after {
    content: '\f077';
  }

  .#{variables-addon.$prefix}dropdown-menu {
    background-color: variables.$color-global-dark-primary-110;
    color: #fff;
    padding: 24px;
    min-width: 250px;
    transform: translate(0, 40px);
    border-radius: 0;
    border: 0;

    & a,
    & a:active,
    & a:visited {
      color: #fff;
    }

    & a:hover {
      text-decoration: none;
    }

    & a:focus {
      outline-color: #fff;
    }

    & .#{variables-addon.$prefix}list-unstyled li {
      margin: 8px 0;
    }

    &
    .#{variables-addon.$prefix}list-unstyled.#{variables-addon.$prefix}list-link
    a:after {
      margin-left: 0;
    }

    .#{variables-addon.$prefix}dropdown-menu-heading {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      color: #fff;
    }

    .border-top {
      border-color: variables.$color-global-light-primary-50;
    }
  }

  .#{variables-addon.$prefix}dropdown-megamenu {
    position: static;

    & .#{variables-addon.$prefix}dropdown-menu {
      border-radius: 0;
      border: 0;
      transform: none;
      inset: inherit;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

.#{variables-addon.$prefix}nav-side .#{variables-addon.$prefix}nav-link:focus-visible,
.#{variables-addon.$prefix}nav-side .#{variables-addon.$prefix}btn:focus-visible {
  outline: 1px solid variables.$color-alias-interactive-border-focus;
  outline-offset: -1px;
  border-radius: 0;
}

.#{variables-addon.$prefix}nav-side .#{variables-addon.$prefix}nav-link:focus-visible:before {
  border-bottom: 1px solid variables.$color-alias-interactive-border-focus;
}

.#{variables-addon.$prefix}nav-side {
  flex-direction: column;
  width: 100%;

  & .#{variables-addon.$prefix}nav {
    background-color: variables.$color-global-light-primary-40;
    flex-direction: column;
    width: 100%;

    & .#{variables-addon.$prefix}nav-link {
      padding-left: 32px;

      &.active,
      &:hover {
        padding-left: 28px;
      }
    }

    & ul {
      margin: 0;
    }
  }

  & [data-sirio-visible='false'] {
    display: none;
  }

  & [data-sirio-visible='true'] {
    display: flex;
  }

  & .#{variables-addon.$prefix}nav-item {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid variables.$color-global-light-primary-50;
    }

    &:last-child:before {
      display: none;
    }
  }

  & .#{variables-addon.$prefix}nav-link {
    padding: 16px;
    font-weight: 600;
    margin: 0;
    border: 0;
    position: relative;

    & .#{variables-addon.$prefix}nav-item {
      padding-left: 24px;
    }

    &[data-sirio-toggle='collapse'] {
      display: flex;
      justify-content: space-between;

      &:after {
        content: '\f107';
        font-family: variables-addon.$font-family-icon;
        font-weight: 900;
        vertical-align: middle;
        margin-left: 16px;
        font-size: 24px;
      }

      &[aria-expanded='true'] {
        background-color: variables.$color-global-light-primary-50;

        &:after {
          content: '\f106';
        }
      }
    }

    &:hover {
      color: variables.$color-alias-interactive-primary-default !important;
      position: relative;
      padding-left: 12px;
      border-left: 4px solid variables.$color-alias-interactive-primary-default;
      transition: background 0.5s;
    }

    &.active {
      color: variables.$color-alias-interactive-primary-pressed !important;
      background-color: variables.$color-global-light-primary-50;
      position: relative;
      padding-left: 12px;
      border-left: 4px solid variables.$color-alias-interactive-primary-pressed;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid variables.$color-global-light-primary-50;
    }

    &.disabled {
      background-color: variables.$color-alias-background-color-disabled;
      color: variables.$color-alias-text-color-disabled;
    }
  }


}



@keyframes slideUpContent {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.#{variables-addon.$prefix}dialog-sidenav {
  background: none;
  animation: none;
  z-index: 1000;

  & .#{variables-addon.$prefix}dialog-wrapper {
    max-width: inherit;
    margin: 0;
    min-height: 100%;
    display: block;
  }

  & .#{variables-addon.$prefix}dialog-content {
    transition: 1s all;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    animation: slideUpContent 1s;
  }

  &[data-sirio-visible='true'] {
    z-index: 1050;

    & .#{variables-addon.$prefix}dialog-content {
      top: 0;
    }
  }

  & .#{variables-addon.$prefix}dialog-header {
    padding: 0;
  }

  & .#{variables-addon.$prefix}dialog-body {
    background: #fff;
    height: 100%;
    overflow: auto;
  }

  & .#{variables-addon.$prefix}sidenav-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: variables.$color-alias-interactive-primary-default;
    border-bottom: 4px solid;
    padding: 16px;
    margin: 32px 0 0;
  }

  & .#{variables-addon.$prefix}sidenav-info {
    border-bottom: 1px solid variables.$color-alias-background-color-primary-light-60;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background: variables.$color-alias-background-color-primary-light-50;
    color: variables.$color-alias-text-color-primary-dark-110;
    margin: 0 0 32px;
  }
}

.#{variables-addon.$prefix}btn-sidenav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  width: 100%;
  font-size: 18px;
  padding: 16px 24px;
  line-height: 24px;
  text-align: left;
  z-index: 1;

  & small {
    display: block;
    font-size: 16px;
    font-weight: normal;
  }

  &:after {
    content: '\f106';
    font-family: variables-addon.$font-family-icon;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 16px;
    font-size: 24px;
  }

  &[data-sirio-dismiss='dialog']:after {
    content: '\f00d';
  }

  &.#{variables-addon.$prefix}btn-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 999;
  }
}

@media (min-width: 992px) {
  .#{variables-addon.$prefix}dialog-sidenav,
  .#{variables-addon.$prefix}dialog-sidenav
  .#{variables-addon.$prefix}dialog-content {
    position: relative;
    display: block !important;
  }

  .#{variables-addon.$prefix}dialog-sidenav
  .#{variables-addon.$prefix}sidenav-info,
  .#{variables-addon.$prefix}dialog-sidenav
  .#{variables-addon.$prefix}dialog-header,
  .#{variables-addon.$prefix}dialog-sidenav-open {
    display: none;
  }
  .#{variables-addon.$prefix}dialog-sidenav {
    display: flex;
  }
}
