@use '../variables';
@use '../variables-addon';

// Tag
.#{variables-addon.$prefix}notify {
  background-color: variables.$color-alias-background-color-primary-light-40;
  color: variables.$color-global-dark-primary-130;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;

  & .#{variables-addon.$prefix}notify-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: variables.$color-alias-text-color-secondary-dark-100;
  }

  & .#{variables-addon.$prefix}notify-icon {
    color: variables.$color-alias-text-color-secondary-dark-100;
    position: relative;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    font-size: 24px;
    line-height: 42px;
  }

  & .#{variables-addon.$prefix}notify-body {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    & p:last-child {
      margin-bottom: 0;
    }
  }

  & .#{variables-addon.$prefix}notify-action {
    align-self: end;
    padding-left: 40px;
    margin-top: 16px;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  &.#{variables-addon.$prefix}notify-dark {
    background-color: variables.$color-alias-background-color-primary-dark-115;
    color: variables.$color-alias-text-color-primary-light-40;

    & .#{variables-addon.$prefix}notify-title,
    & .#{variables-addon.$prefix}notify-icon {
      color: #fff;
    }

    & .#{variables-addon.$prefix}notify-body a {
      color: variables.$color-alias-interactive-accent-default;

      &:visited {
        color: variables.$color-alias-interactive-accent-default;
      }

      &:hover {
        color: variables.$color-alias-interactive-accent-hover;
      }

      &:not(:disabled):not(.disabled):active {
        color: variables.$color-alias-interactive-accent-pressed;
      }

      &:focus {
        outline-color: variables.$color-alias-interactive-accent-focus !important;
      }
    }
  }

  &-wrapper {
    background: variables.$color-alias-background-color-primary-light-40;
    border-bottom: solid 1px variables.$color-alias-background-color-primary-light-50;

    &-dark {
      background: variables.$color-alias-background-color-primary-dark-115;
      border-bottom: solid 1px variables.$color-alias-background-color-primary-light-50;
    }
  }

  &-success,
  &-warning,
  &-alert {
    background-color: variables.$color-global-primary-000;
    border-bottom: none;

    .sirio-notify {
      background-color: variables.$color-global-primary-000;
    }
  }

  &-success {
    span.fas, span.fa, span.far {
      color: variables.$color-global-semantic-success-100;
    }
  }

  &-warning {
    span.fas, span.fa, span.far {
      color: variables.$color-global-semantic-warning-100;
    }
  }

  &-alert {
    span.fas, span.fa, span.far {
      color: variables.$color-global-semantic-alert-100;
    }
  }
}

@media (min-width: 992px) {
  .#{variables-addon.$prefix}notify {
    padding: 24px 56px;

    & .#{variables-addon.$prefix}notify-action {
      flex: 0 0 auto;
      width: auto;
    }
  }
}

[class*='container'] .#{variables-addon.$prefix}notify {
  padding-left: 0;
  padding-right: 0;
}
