@use '../variables';
@use '../variables-addon';

// Pagination
.#{variables-addon.$prefix}pagination {
    border: 1px solid variables.$color-global-light-primary-40;
    border-radius: 4px;
    margin: 24px 0;
    flex-wrap: wrap;
    display: flex;
    font-weight: 600;
    & > * {
        padding: 12px 24px;
        display: inline-flex;
        align-items: center;
        & > * {
            margin: 0 8px;
        }
    }

    & select {
        width: 82px;
        min-width: 82px;
        font-family: variables-addon.$font-family-mono;
        font-weight: 400;
    }

    & .#{variables-addon.$prefix}pagination-label {
        font-family: variables-addon.$font-family-sans !important;
        font-size: 1rem;
        font-weight: 600 !important;
    }

    & .#{variables-addon.$prefix}pagination-items {
        background-color: variables.$color-alias-text-color-primary-light-50;
        flex: 1 0 0%;

        span[aria-hidden='true'],
        select.sirio-form-control {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
    & .#{variables-addon.$prefix}pagination-page {
        background-color: variables.$color-alias-text-color-primary-light-50;
        position: relative;
        &:nth-child(2):before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            bottom: 8px;
            width: 1px;
            background-color: variables.$color-global-mid-primary-70;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
    & .#{variables-addon.$prefix}pagination-items span,
    .#{variables-addon.$prefix}pagination-page span {
        font-family: variables-addon.$font-family-mono;
        font-weight: 400;
    }
    & .#{variables-addon.$prefix}pagination-cursor {
        margin-left: auto;
        padding: 12px 8px;
    }
}
.#{variables-addon.$prefix}pagination-list {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        a, .ellipsis {
            color: variables.$color-alias-interactive-secondary-default;
            padding: 14px;
            text-decoration: none;
            display: block;
            font-weight: 400;
            line-height: 16px;
            font-size: 16px;
            border-radius: 4px;
            margin: 0 3px;
            &[aria-current] {
                color: variables.$color-global-primary-000;
                background-color: variables.$color-alias-interactive-primary-pressed;
            }
            &[href]:hover {
                color: variables.$color-global-primary-000;
                background-color: variables.$color-alias-interactive-primary-hover;
                text-decoration: none;
            }
            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled).active {
                color: variables.$color-global-primary-000;
                background-color: variables.$color-alias-interactive-primary-pressed;
            }
            &.disabled {
                color: variables.$color-alias-text-color-disabled !important;
                background-color: variables.$color-alias-background-color-disabled;
            }
        }
        &:last-child a,
        &:first-child a {
            color: variables.$color-alias-interactive-primary-default;
            &:hover {
                color: variables.$color-global-primary-000;
            }
        }
    }
}
.#{variables-addon.$prefix}pagination-center {
    text-align: center;
    margin: 24px 0;
    & .#{variables-addon.$prefix}pagination-list {
        border: 1px solid variables.$color-global-light-primary-40;
        border-radius: 4px;
        padding: 12px;
    }
}
