@use '../variables' as *;
@use '../variables-addon' as *;

// Progress Bar
.#{$prefix}progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 12px;
  border-radius: 12px;
  background-color: $color-alias-background-color-primary-light-40;
}

.#{$prefix}progress[value]::-webkit-progress-bar {
  background-color: $color-alias-background-color-primary-light-40;
  border-radius: 12px;
  padding: 2px;
}

.#{$prefix}progress[value]::-webkit-progress-value {
  background-image: $color-specific-progressbar-background-color;
  border-radius: 8px;
  height: 8px;
}

/*
NOTE: ::-moz-progress-value do not exist!
.#{$prefix}progress[value]::-moz-progress-value {
  background-image: $color-specific-progressbar-background-color;
  border-radius: 8px;
  height: 8px;
}
*/

.#{$prefix}progress[value]::-moz-progress-bar {
  background: $color-specific-progressbar-background-color;
  margin: 2px;
  border-radius: 8px;
  height: 8px;
}

.#{$prefix}progress-number {
  font-family: $font-family-mono;
  font-size: 10px;
  line-height: 12px;
  display: block;
  text-align: right;
}
