// Table
table {
	caption-side: bottom;
	border-collapse: collapse;
}
caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: $color-global-dark-primary-130;
	text-align: left;
}
th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}
.#{$prefix}table {
	width: 100%;
    margin-bottom: 16px;
	background-color: #fff;
	& th {
		/*padding: 4px 16px;
		height: 60px;*/
		padding: 20px 16px;
		font-weight: 600;
		background-color: $color-alias-background-color-primary-light-40;
		color: $color-specific-data-entry-label-color-default;
		border-bottom: 1px solid $color-global-light-primary-50;
		border-right: 1px solid $color-global-light-primary-50;
		&:first-child {
			border-left: 1px solid $color-alias-background-color-primary-light-40;
		}
		&:last-child {
			border-right: 1px solid $color-alias-background-color-primary-light-40;
		}
	}
	& td {
		/*padding: 4px 16px;
		height: 56px;*/
		padding: 18px 16px;
		border-bottom: 1px solid $color-global-light-primary-50;
		border-right: 1px solid $color-global-light-primary-50;
		&:first-child {
			border-left: 1px solid $color-global-light-primary-50;
		}
		&:last-child {
			border-right: 1px solid $color-global-light-primary-50;
		}
	}
	&.#{$prefix}table-sm {
		th, td {
			/*height: 40px;*/
			padding: 10px 16px;
		}
	}
	&.#{$prefix}table-lg {
		th, td {
			/*height: 72px;*/
			padding: 26px 16px;
		}
	}
	& td .#{$prefix}btn {
		padding: 4px 1px;
	}
	& tbody tr:nth-of-type(even) td {
		background-color: $color-global-light-primary-40;
	}
	&.#{$prefix}table-dark {
		th {
			background-color: $color-global-dark-primary-115;
			color: $color-global-light-primary-40;
			border-bottom: 1px solid $color-alias-interactive-primary-default;
			border-right: 1px solid $color-alias-interactive-primary-default;
			&:first-child {
				border-left: 1px solid $color-global-dark-primary-115;
			}
			&:last-child {
				border-right: 1px solid $color-global-dark-primary-115;
			}
		}
	}
	& .#{$prefix}table-check {
		display: flex;
		flex-wrap: nowrap;
		.#{$prefix}form-check {
			transform: scale(.75);
			& label:before {
				background-color: #fff;
			}
		}
	}
}

// Table sorting
.#{$prefix}sorting {
	cursor: pointer;
    position: relative;
    padding-right: 30px !important;
	&:before, &:after {
		position: absolute;
		display: block;
		width: 12px;
		right: 10px;
		bottom: 0;
		top: 0;
		content: '';
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: center;
	}
	&:before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232f6dd5' viewBox='0 0 320 512'%3E%3Cpath d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'/%3E%3C/svg%3E");
	}
	&.#{$prefix}sorting-desc:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300173d' viewBox='0 0 320 512'%3E%3Cpath d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'/%3E%3C/svg%3E");
	}
	&.#{$prefix}sorting-asc:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300173d' viewBox='0 0 320 512'%3E%3Cpath d='M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z'/%3E%3C/svg%3E");
	}
	&:focus {
		outline-offset: -3px;
		z-index: 1;
		border-radius: 0;
	}
}
.#{$prefix}table-dark .#{$prefix}sorting {
	&:before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2318CEE7' viewBox='0 0 320 512'%3E%3Cpath d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'/%3E%3C/svg%3E");
	}
	&.#{$prefix}sorting-desc:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 320 512'%3E%3Cpath d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'/%3E%3C/svg%3E");
	}
	&.#{$prefix}sorting-asc:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 320 512'%3E%3Cpath d='M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z'/%3E%3C/svg%3E");
	}
	&:focus {
		outline: 2px solid #fff;
		outline-offset: -3px;
		z-index: 1;
		border-radius: 0;
	}
}

// Table responsive
.#{$prefix}table-responsive {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	display: flex;
	height: 100%;
	& th {
		position: sticky;
		top: 0;
	}
}
.#{$prefix}table-overflow-start:before {
	position: sticky;
	content: ".";
	left: 0;
	display: block;
	width: 8px;
	color: $color-global-accent-100;
	border-right: 8px solid $color-global-accent-100;
	top: 0;
	bottom: 32px;
	align-self: auto;
	margin-bottom: 16px;
	z-index: 10;
}
.#{$prefix}table-overflow-end:after {
	position: sticky;
	content: ".";
	right: -1px;
	display: block;
	width: 8px;
	color: $color-global-accent-100;
	border-right: 8px solid $color-global-accent-100;
	top: 0;
	bottom: 32px;
	align-self: auto;
	margin-bottom: 16px;
	z-index: 10;
}


// Table first column fixed
.#{$prefix}table-column-fixed-first {
	overflow-y: auto;
	max-height: 450px;
	&.#{$prefix}table-overflow-start:before, &.#{$prefix}table-overflow-end:after {
		margin-bottom: 0;
	}
	& .#{$prefix}table {
		margin-bottom: 0;
	}
	& thead tr > *:first-child {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1;
		border: 0 !important;
		box-shadow: inset -1px 0 0 0 $color-global-light-primary-50;
	}
	& tbody tr > *:first-child {
		position: sticky;
		left: 0;
		border: 0 !important;
		box-shadow: inset -1px 1px 0 0 $color-global-light-primary-50;
		background-color: #ffffff;
	}
	& tbody tr:nth-of-type(odd) > *:first-child {
		background-color: #ffffff;
	}
	&.#{$prefix}table-overflow-start {
		&:before {
			display: none;
		}
		& thead tr > *:first-child {
			box-shadow: inset -6px 0px 0 0 $color-global-accent-100;
			padding-right: 24px;
		}
		& tbody tr > *:first-child {
			box-shadow: inset 0 1px 0 0 $color-global-light-primary-50, inset -6px 0px 0 0 $color-global-accent-100;
			padding-right: 24px;
		}
	}
	
}

// Table th fixed
.#{$prefix}table-th-fixed {
	overflow-y: auto;
	max-height: 450px;
	&.#{$prefix}table-overflow-start:before, &.#{$prefix}table-overflow-end:after {
		margin-bottom: 0;
	}
	& .#{$prefix}table {
		margin-bottom: 0;
	}
	& thead th {
		position: sticky;
		top: 0;
		z-index: 1;
		border: 0 !important;
		box-shadow: inset 1px 1px 0 0 $color-global-light-primary-50;
		&:first-child {
			box-shadow: inset 0px 1px 0 0 $color-global-light-primary-50;
		}
	}
	& tbody th {
		position: sticky;
		left: 0;
		border: 0 !important;
		box-shadow: inset -1px 1px 0 0 $color-global-accent-100;
	}
}

// Table Accordion
.#{$prefix}table-accordion {
	tr {
		display: flex;
		flex-flow: row wrap;
	}
	td,
	th {
		padding: 5px;
		flex: 1;
		display: block;
		text-align: left;
	}
	th:last-child {
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
		/* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}

	td:last-child[hidden] {
		display: none;
	}

	td:last-child {
		background: #ccc;
		flex: 1 1 100%;
	}

	.responsive-cell-header {
		display: none;
	}

	@media only screen and (max-width: 600px) {
		table tr {
			display: block;
			border: 1px solid black;
		}

		table thead {
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
			clip: rect(1px 1px 1px 1px);
			/* IE6, IE7 */
			clip: rect(1px, 1px, 1px, 1px);
		}

		.responsive-cell-header {
			display: inline;
			font-weight: bold;
		}
	}
}



/* Skeleton loading */
@keyframes loadingSkeleton {
	0% {
		background-position: 300% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
table.#{$prefix}skeleton {
	border-collapse: separate;
	border-spacing: 10px 0.5rem;
	& th {
		border-radius: 7px;
		background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
		background-size: 200px 100%;
		background-position: -200px 0;
		background-repeat: no-repeat;
		animation: loadingSkeleton 2s infinite;
		font-size: 0px;
		border: 0;
		& *, &:before, &:after {
			display: none;
		}
	}
	& td {
		background-color: #c6ccd2 !important;
		border-radius: 4px;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeholderSkeletonMini;
		animation-timing-function: linear;
		background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
		background-image: linear-gradient(100deg, #c6ccd2 0%, #dedfe0 20%, #c6ccd2 40%, #c6ccd2 100%);

		animation: loadingSkeleton 2s infinite;
		font-size: 0px;
		border: 0;
		& *, &:before, &:after {
			display: none;
		}
	}
}